{% extends 'main/base.html' %}

{% block content %}
    {% for project in object_list %}

       <div class="row" style="padding-top:10px">
       		<div class="col-md-offset-3 col-lg-offset-3 col-md-3 col-lg-3">
       			<img src="{{ project.picture_url }}" style="width:200px"></img>
       		</div>
       		<div class="col-md-3 col-lg-3">
        		<h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
        		<p>Status: {{ project.status }}</p>
        		<p>Area: {{ project.area }}</p>
    	    </div>
       </div>

    {% empty %}
    <p>There is no projects</p>
    {% endfor %}

{% endblock %}